<ion-view title="Activities">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-funnel" ng-click="filterModal.show()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-plus-round" ng-click="createModal.show()"></button>
  </ion-nav-buttons>

  <ion-content class="padding has-header">
    <div ng-show="errors">
      {{errors}}
    </div>
    <div ng-show="activityData.message">
      {{activityData.message}}
    </div>
    <show-activity-feed activities="activityData.activityList"></show-activity-feed>
  </ion-content>
</ion-view>
