<ion-view title="Activity Feed">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <div>
      <a class="button" href="#/app/create_activity">
        New
      </a>
    </div>
  </ion-nav-buttons>
  <ion-content class="padding has-header">
    <div ng-show="errors">
      {{errors}}
    </div>
    <div ng-show="activityData.message">
      {{activityData.message}}
    </div>
    <show-activity-feed activities="activityData.activityList"></show-activity-feed>
  </ion-content>
</ion-view>
