<ion-view title="Create Activity">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">

    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="padding has-header">
    <div class="list list-inset">
      <p ng-repeat="error in errors">{{error}}</p>
      <label class="item item-input">
        <input type="text" placeholder="Pick a headline for your activity" ng-model="activityData.title">
      </label>
      <label class="item item-input textarea">
        <textarea placeholder="Describe the activity" ng-model="activityData.body"></textarea>
      </label>
      <label class="item item-input">Difficulty: &nbsp;
        <span ng-if="activityData.difficulty == 1">{{difficulty_words[0]}}</span>
        <span ng-if="activityData.difficulty == 2">{{difficulty_words[1]}}</span>
        <span ng-if="activityData.difficulty == 3">{{difficulty_words[2]}}</span>
      </label>
      <div class="item range">
        <input type="range" id="difficulty" ng-model="activityData.difficulty" ng-init="activityData.difficulty = 1" min="1" max="3" value="1" >
      </div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Category
          </div>
          <select ng-model="activityData.category">
            <option ng-repeat="category in categories">{{category}}</option>
          </select>
        </label>
        <div>
          <button class='button button-block button-positive' ng-click="selectPhotos()">Add Images</button>
        </div>
        <div>
          <button class='button button-block button-positive' ng-click="createActivity()">Create</button>
        </div>
      </div>

      <div class="row responsive-sm">
        <div class="col col-25" ng-repeat="image in uploadedImages">
          <img ng-src="{{image}}" width="100%" />
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
