<ion-view title="Map">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <div id="map-container"></div>
  <div id="over-map">
    <div class="filter-btn">
      <button class="button button-clear button-small" ng-click="startTracking()" ng-disabled="inProgress || hasRecording">
        <i class="ion-plus-circled"></i>
      </button>
      <button class="button button-clear button-small" ng-disabled="true">
        <i class="ion-pinpoint"></i>
      </button>
      <button class="button button-clear button-small" ng-click="stopTracking()" ng-disabled="!inProgress">
        <i class="ion-stop"></i>
      </button>
      <button class="button button-clear button-small" ng-click="clearRoute()" ng-disabled="!hasRecording">
        <i class="ion-eject"></i>
      </button>
      <span class="toggle-btn ion-navicon-round" ng-click="toggleMenu()"></span>
    </div>
  </div>

</ion-view>
