<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-positive">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header has-footer has-footer-filter">
      <ion-list>
        <ion-item ng-show="!$state.includes('app.profile')" menu-close ng-if="user.email"
                  ng-controller="activitiesController" ng-click="viewProfile()">
          Profile
        </ion-item>
        <ion-item ng-show="!$state.includes('app.activities')" menu-close href="#/app/activities">
          Activity Feed
        </ion-item>
        <ion-item ng-show="!$state.includes('app.map')" menu-close href="#/app/map">
          Map
        </ion-item>

        <!-- This is the menu for the activities filters -->

        <ion-item ng-show="$state.includes('app.activities')">
          <ul class="list">
            <div class="item item-toggle">
              Users I follow
              <label class="toggle toggle-positive">
                <input type="checkbox" ng-model="activityData.filters.follow" ng-checked="true">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
            <div></div>
            <div class="list">
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Change Location" ng-model="activityData.filters.location">
              </label>
            </div>
            <div class="list">
              <button class="button-icon" ng-repeat="star in stars track by $index" ng-click="toggleStars($index+1)">
                <i class="icon" ng-class="star ? 'ion-android-star': 'ion-android-star-outline'"></i>
              </button>
            </div>
            <div class="list">
              <label class="item item-input">Difficulty</label>
              <ion-list>
                <ion-checkbox ng-model="activityData.filters.difficulty1"
                              ng-checked="activityData.filters.difficulty1">
                  {{difficulty_words[0]}}
                </ion-checkbox>
                <ion-checkbox ng-model="activityData.filters.difficulty2"
                              ng-checked="activityData.filters.difficulty2">
                  {{difficulty_words[1]}}
                </ion-checkbox>
                <ion-checkbox ng-model="activityData.filters.difficulty3"
                              ng-checked="activityData.filters.difficulty2">
                  {{difficulty_words[2]}}
                </ion-checkbox>
              </ion-list>
            </div>
            <div class="list">
              <label class="item item-input">Sport</label>
              <ion-list ng-repeat="category in categories">
                <ion-checkbox ng-model="activityData.filters.category[$index + 1]"
                              ng-checked="activityData.filters.category[$index + 1]">{{categories[$index]}}
                </ion-checkbox>
              </ion-list>
            </div>
          </ul>

        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar ng-show="$state.includes('app.activities')">
      <div class="bar bar-footer bar-footer-filter">
        <button class="filter-button button button-block button-positive " ng-click="setFilters()" menu-close>Filter
        </button>
      </div>

    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
