<ion-tabs ng-class="{'tabs-item-hide': hideTabs}" class="tabs-icon-top tabs-color-active-positive">
  <!-- Activity Feed Tab -->
  <ion-tab title="Activity Feed" icon-off="ion-calendar" icon-on="ion-calendar" href="#/app/activities">
    <ion-nav-view name="tab-activities-view"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-map" icon-on="ion-map" href="#/app/map">
    <ion-nav-view name="tab-map-view"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="ion-navicon-round" icon-on="ion-navicon-round" href="#/app/profile">
    <ion-nav-view name="tab-profile-view"></ion-nav-view>
  </ion-tab>
</ion-tabs>
