<ion-view class="auth-view" hide-nav-bar="true">

  <ion-header-bar class="signup-header auth-header">
    <div class="buttons">
      <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()">
      </button>
    </div>
    <h3 class="title">Cookies Policy</h3>
  </ion-header-bar>

  <ion-content class="padding">
    <h3>COOKIES AND TRACKING SOFTWARE</h3>
    <p>
      We use “cookies” and other types of tracking software in order to
      personalise your visit to our Sites and enhance your experience by
      gaining a better understanding of your particular interests and
      customising our pages for you. A cookie is a message given to a web
      browser by a web server and which is then stored by the browser in a
      text file. Each time the browser requests a page from the server this
      message is sent back which enables the user’s computer to be identified.
    </p>
    <p>
      We may use the information provided by cookies to analyse trends,
      administer the Sites, or for research and marketing purposes to help us
      better serve you. No information which personally identifies you will be
      collected through the cookies. If you like, you can set your browser to
      notify you before you receive a cookie so you have the chance to accept
      it and you can also set your browser to turn off all cookies. The
      website www.allaboutcookies.org (run by the Interactive Marketing
      Bureau) contains step-by-step guidance on how cookies can be switched
      off by users.
    </p>
    <p>
      Our Sites require the use of cookies in order to work at their best. If
      you do not wish these cookies to be used then please note that you may
      not experience our Sites working to their best effect.
    </p>
    <p style="text-align:center">
      &copy; Copyright AdventureMap 2016
    </p>
  </ion-content>
</ion-view>
