<ion-view class="auth-view" hide-nav-bar="true">

  <ion-header-bar class="signup-header auth-header">
    <div class="buttons">
      <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()">
      </button>
    </div>
    <h3 class="title">Disclaimer</h3>
  </ion-header-bar>

  <ion-content class="padding">
    <h3>IMPORTANT LEGAL NOTICE</h3>
    <p>
      <strong>ATTENTION:</strong> THIS IMPORTANT LEGAL NOTICE APPLIES TO ALL
      OF THE WEBSITES AND APPLICATIONS OPERATED BY ADVENTUREMAP AND ITS
      AFFILIATES (REFERRED TO IN THIS IMPORTANT LEGAL NOTICE AS “ADVENTUREMAP”
      , “WE”, “OUR” AND “US”)
      AND TO ANY CORRESPONDENCE BY EMAIL BETWEEN US AND YOU (“SITES”).
      ANY REFERENCES TO “YOU” OR “YOUR” ARE TO YOU THE USER. PLEASE READ THESE
      TERMS CAREFULLY BEFORE USING ANY OF THE SITES. USING ANY OF THE SITES
      INDICATES THAT YOU ACCEPT THESE TERMS. YOUR USE OF PARTICULAR SITES OR
      SERVICES MAY BE SUBJECT TO ADDITIONAL TERMS SET OUT ELSEWHERE ON THE
      SITES. YOUR USE OF THOSE PARTICULAR SITES AND SERVICES INDICATES THAT
      YOU ACCEPT THOSE ADDITIONAL TERMS.
    </p>

    <h3>1. INTRODUCTION</h3>
    <p>
      1.1 By accessing any part of the Sites, you shall be deemed to have
      accepted this legal notice in full. If you do not accept this legal
      notice in full, you must leave the Sites immediately.
    </p>
    <p>
      1.2 AdventureMap may revise this legal notice at any time by updating
      this posting. Certain provisions of this legal notice may be
      supplemented or superseded by expressly designated legal notices or
      terms located on particular pages of the Sites.
    </p>

    <h3>2. LICENCE</h3>
    <p>
      2.1 You are permitted to print and download extracts from the Sites only
      for personal, non-commercial use on the following basis:
      <ul style="padding-left: 1em;">
        <li>
          2.1.1 no documents or related graphics on the Sites are modified in
          any way;
        </li>
        <li>
          2.1.2 no graphics on the Sites are used separately from accompanying
          text; and
        </li>
        <li>
          2.1.3 the AdventureMap copyright notice appears in all copies
          together with any additional copyright notices appearing on the Site
          which is the source of the copy.
        </li>
      </ul>
    </p>

    <p>
      2.2 Unless otherwise stated, the copyright and other intellectual
      property rights in all material on the Sites (including without
      limitation trade marks, logos, brands, trading names, photographs and
      graphic images), are owned by AdventureMap or its licensors.
      For the purposes of this legal notice, any use of extracts or material
      from the Sites other than in accordance with paragraph 2.1 above for any
      purpose is prohibited. If you breach any of the terms in this legal
      notice, your permission to use the Sites automatically terminates and
      you must immediately destroy any downloaded or printed extracts from the
      Sites.
    </p>
    <p>
      2.3 Subject to paragraph 2.1, no part of the Sites may be reproduced or
      stored in any other website or included in any public or private
      electronic retrieval system or service without Ideal Standard’s prior
      written permission.
    </p>

    <p style="text-align:center">
      &copy; Copyright AdventureMap 2016
    </p>
  </ion-content>
</ion-view>
