<ion-view class="login-view auth-view" cache-view="false" hide-nav-bar="true">
  <ion-header-bar class="login-header auth-header">
    <div class="buttons">
      <button class="button button-clear button-icon icon ion-ios-close-empty cancel-button" ng-click="cancelAuth()">
      </button>
    </div>
    <h3 class="title">Login</h3>
  </ion-header-bar>
  <ion-content class="auth-content" has-bouncing="false">
    <div class="content-wrapper">
      <div class="row everything-but-legal">
        <div class="col">
          <form class="row form-container" novalidate>
            <div class="col">
              <div class="list log-in">
                <div class="item item-divider" ng-if="errorMessage">
                  <span class="error-message" ng-bind="errorMessage"></span>
                </div>
                <label class="item item-input">
                  <input type="email" placeholder="Email" ng-model="credentials.email">
                </label>
                <label class="item item-input">
                  <input type="password" placeholder="Password" ng-model="credentials.password">
                </label>
              </div>
              <button class="button action-button button-block button-balanced" ng-click="login()">LOGIN</button>
              <div class="col center">
                <a class="button button-clear button-small forgot-password-button">Forgot
                  Password?</a>
              </div>
              <div class="row social-buttons-row">
                <div class="col">
                  <button class="button button-block icon-left ion-social-facebook social-button facebook-button"
                          ng-click="facebookSignIn()">
                    <span class="inner-text">Log in via Facebook</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row row-no-padding legal-row">
        <div class="col">
          <p class="legal-text">
            By logging in your agree to AdventureMaps's
            <a ui-sref="intro.terms">Terms of Service</a>,
            <a ui-sref="intro.privacy">Privacy Policy</a>,
            <a ui-sref="intro.cookie">Cookie Policy</a> and
            <a ui-sref="intro.disclaimer">Disclaimer</a>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
