<ion-view class="login-view auth-view" cache-view="false" hide-nav-bar="true">
  <ion-header-bar class="login-header auth-header">
    <div class="buttons">
      <button class="button button-clear button-icon icon ion-ios-close-empty cancel-button" ng-click="cancelAuth()">
      </button>
    </div>
    <h3 class="title">Forgot Password?</h3>
  </ion-header-bar>
  <ion-content class="auth-content" has-bouncing="false">
    <div class="content-wrapper">
      <div class="row everything-but-legal">
        <div class="col">

          <form class="row form-container" novalidate>
            <div class="col">
              <div class="password-reset">
                <div class="item item-divider">
                  <h2>Request a password reset</h2>
                  <span>Passwords are hard to remember. If you can't remember your password you can request a reset from AdventureMap.You will need access to the email account you used to register.</span>
                </div>
                <div class="item item-divider" ng-if="errorMessage">
                  <span class="error-message" ng-bind="errorMessage"></span>
                </div>
                <div class="item item-divider" ng-if="successMessage">
                  <span class="success-message" ng-bind="successMessage"></span>
                </div>
              </div>
              <div class="col alt-actions-container" ng-if="!successMessage">
                <label class="item item-input custom">
                  <input type="email" placeholder="Email" ng-model="credentials.email">
                </label>
                <button class="button action-button button-block button-balanced" ng-click="requestPassword()">REQUEST
                  PASSWORD RESET
                </button>
                <div class="col">
                  <a class="button button-clear button-small button-stable forgot-password-button"
                     ui-sref="intro.login">Login</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div ng-include src="'templates/partials/toc-links.html'"></div>
    </div>
  </ion-content>
</ion-view>
