<ion-view class="walkthrough-view" cache-view="false" hide-nav-bar="true">

  <ion-content class="intro-content" has-bouncing="false">
    
    <div class="row row-no-padding slider-row">
      <div class="col">
        <ion-slide-box class="intro-slider" on-slide-changed="slideHasChanged($index)">

          <ion-slide>
            <div class="row row-no-padding slide-row slide-1">
              <div class="col">
                <div class="logo-image-container">
                  <pre-img ratio="_1_1" helper-class="logo-image">
                    <img ng-src="img/logo-white.png" spinner-on-load>
                  </pre-img>
                </div>
                <h2 class="slide-title">AdventureMap</h2>
                <h3 class="slide-sub-title" translate="FIND_YOUR_ADVENTURE"></h3>
                <span class="slide-swipe" translate="SWIPE_LEFT"></span>
              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="row row-no-padding slide-row slide-2">
              <div class="col">
                <div class="slide-image-container">
                  <pre-img ratio="_1_1" helper-class="slide-image">
                    <img ng-src="img/map.png" spinner-on-load>
                  </pre-img>
                </div>
                <h2 class="slide-title" translate="ADVENTURES_1_HEADER"></h2>
                <h3 class="slide-sub-title" translate="ADVENTURES_1_SUBHEADER"></h3>
              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="row row-no-padding slide-row slide-3">
              <div class="col">
                <div class="slide-image-container">
                  <pre-img ratio="_1_1" helper-class="slide-image">
                    <img ng-src="img/compass.png" spinner-on-load>
                  </pre-img>
                </div>
                <h2 class="slide-title" translate="ADVENTURES_2_HEADER"></h2>
                <h3 class="slide-sub-title" translate="ADVENTURES_2_SUBHEADER"></h3>
              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="row row-no-padding slide-row slide-4">
              <div class="col">
                <div class="slide-image-container">
                  <pre-img ratio="_1_1" helper-class="slide-image">
                    <img ng-src="img/users.png" spinner-on-load>
                  </pre-img>
                </div>
                <h2 class="slide-title" translate="ADVENTURES_3_HEADER"></h2>
                <h3 class="slide-sub-title" translate="ADVENTURES_3_SUBHEADER"></h3>
              </div>
            </div>
          </ion-slide>

        </ion-slide-box>
      </div>
    </div>

    <div class="row row-no-padding row-bottom buttons-row">
      <div class="col">
        <a class="button button-block auth-button blue" ui-sref="intro.signup" translate="SIGN_UP"> </a>
      </div>
      <div class="col">
        <a class="button button-block auth-button green" ui-sref="intro.login" translate="LOG_IN"></a>
      </div>
    </div>

  </ion-content>
</ion-view>
