<ion-view class="walkthrough-view" cache-view="false" hide-nav-bar="true">
  <ion-header-bar class="intro-header">
    <div class="buttons">
      <button class="button button-clear skip-button" ng-click="skipIntro()">Skip Intro</button>
    </div>
  </ion-header-bar>
  <ion-content class="intro-content" has-bouncing="false">
    <div class="row row-no-padding slider-row">
      <div class="col">
        <ion-slide-box class="intro-slider" on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="row row-no-padding slide-row slide-1">
              <div class="col">
                <div class="logo-image-container">
                  <pre-img ratio="_1_1" helper-class="logo-image">
                    <img ng-src="img/logo.png" spinner-on-load>
                  </pre-img>
                </div>
                <h2 class="slide-title">AdventureMap</h2>
                <h3 class="slide-sub-title">Discover Awesome outdoor Experience!</h3>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="row row-no-padding slide-row slide-2">
              <div class="col">
                <div class="slide-image-container">
                  <pre-img ratio="_55_37" helper-class="slide-image">
                    <img ng-src="img/slide-2-img.png" spinner-on-load>
                  </pre-img>
                </div>
                <h3 class="slide-sub-title">Search within thousands of activities in your area</h3>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="row row-no-padding slide-row slide-3">
              <div class="col">
                <div class="slide-image-container">
                  <pre-img ratio="_55_37" helper-class="slide-image">
                    <img ng-src="img/slide-3-img.png" spinner-on-load>
                  </pre-img>
                </div>
                <h3 class="slide-sub-title">Get directions, numbers, ratings and reviews</h3>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="row row-no-padding slide-row slide-4">
              <div class="col">
                <div class="slide-image-container">
                  <pre-img ratio="_55_37" helper-class="slide-image">
                    <img ng-src="img/slide-4-img.png" spinner-on-load>
                  </pre-img>
                </div>
                <h3 class="slide-sub-title">Browse curated lists of places perfect for your various moods</h3>
              </div>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    <div class="row row-center actions-row">
      <div class="col">
        <p class="main-subtitle">
          Sign up. You know you want to.
        </p>
        <p class="second-subtitle">
          It will take less than 5 seconds.
        </p>
        <button class="button button-block facebook-connect-button" ng-click="facebookSignIn()">Instant Facebook Connect</button>
        <p class="second-subtitle">
          We will never post anything without you permission. Pinky promise.
        </p>
      </div>
    </div>
    <div class="row row-no-padding row-bottom buttons-row">
      <div class="col">
        <a class="button button-block auth-button" ui-sref="intro.signup">
          SIGN UP
        </a>
      </div>
      <div class="col">
        <a class="button button-block auth-button" ui-sref="intro.login">
          LOGIN
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
