<div class="list card" ng-repeat="activity in activities">
  <div ng-controller="showActivityController">


    <div class="item item-avatar" ng-click="navigateToActivity(activity)">
      <img ng-src="{{activity.user.image ? activity.user.image : 'img/dummy_images/empty_image.svg'}}">
      <h2 class="activity_title">{{activity.user.name}}</h2>
      <p>{{activity.created_at}}</p>
    </div>

    <div ng-click="navigateToActivity(activity)">
      <display-first-image images_for="{{activity}}"></display-first-image>
    </div>

    <div class="padding" ng-click="navigateToActivity(activity)">
      <h3>{{activity.title}}</h3>
      <p ng-if="activity.body.length > 120">
        {{activity.body | limitTo: 120}} ...SEE MORE
      </p>
      <p ng-if="activity.body.length <= 120">
        {{activity.body}}
      </p>
    </div>

    <div class="item item-divider row-no-padding white">
      <div class="button-bar">

        <div class="col col-20">
          <span ng-if=activity.user.likes ng-click="unlikeActivity(activity.id);
            activity.user.likes = !activity.user.likes; activity.likes_count = activity.likes_count - 1;">
            <a class="button white blue">
              <i class="icon ion-thumbsup"></i>
            </a>
          </span>

          <div ng-if=!activity.user.likes ng-click="likeActivity(activity.id, $event);
            activity.user.likes = !activity.user.likes; activity.likes_count = activity.likes_count + 1;">
            <a class="button white">
              <i class="icon ion-thumbsup"></i>
            </a>
          </div>
        </div>

        <div class="col col-20">
          <span ng-if=activity.user.saves ng-click="unsaveActivity(activity.id);
            activity.user.saves = !activity.user.saves; activity.saves_count = activity.saves_count - 1;">
            <a class="button white blue">
              <i class="icon ion-bookmark"></i>
            </a>
          </span>

          <span ng-if=!activity.user.saves ng-click="saveActivity(activity.id);
               activity.user.saves = !activity.user.saves; activity.saves_count = activity.saves_count + 1;">
            <a class="button white">
              <i class="icon ion-bookmark"></i>
            </a>
          </span>
        </div>

        <div class="col col-20">
          <span ng-if=activity.user.following ng-click="unfollowUser(activity.user.id);
            activity.user.following = !activity.user.following; activity.user.followers_count = activity.user.followers_count - 1">
            <a class="button white blue">
              <i class="icon ion-person"></i>
            </a>
          </span>

          <span ng-if=!activity.user.following ng-click="followUser(activity.user.id);
            activity.user.following = !activity.user.following; activity.user.followers_count = activity.user.followers_count + 1">
            <a class="button white white">
              <i class="icon ion-person"></i>
            </a>
          </span>
        </div>

        <div class="col col-20" ng-click="navigateToActivity(activity)">
          <a class="button white">
            <i class="icon ion-chatboxes"></i>
          </a>
        </div>

        <div class="col col-20" ng-controller="showActivityController">
            <a class="button white" ng-click="shareUsingFacebook(activity)">
              <i class="icon ion-social-facebook"></i>
            </a>

            <!--<a class="button white white">
              <i class="icon ion-social-facebook"></i>
            </a>-->
        </div>

      </div>
    </div>
  </div>




