<ion-view class="activity-show hej">
  <!--
    <ion-nav-title> {{ activity.title }}</ion-nav-title>
  -->

  <ion-content class="has-header gray">
    <div class="list card">

      <div class="item item-avatar" ng-click="navigateToUser(activity.user)">
        <img ng-src="{{activity.user.image ? activity.user.image : 'img/dummy_images/empty_image.svg'}}">
        <h2 class="activity_title">{{activity.user.name}}</h2>
        <p>{{activity.created_at}}</p>
      </div>

      <div class="item item-body" ng-show="activity.coords">
        <!-- place map container here-->
        <div id="small-map" ></div>
        <button class="button share-button icon ion-social-facebook" ng-click="shareUsingFacebook(activity, user)"></button>

      </div>
      <div class="item item-body">
        <ion-scroll direction="x" has-bouncing="true">
          <hscroller on-swipe-left="" on-swipe-right="" style="margin-top: 5px; margin-left: -2px !important;">
            <hcard ng-repeat="image in activity.images" index="{{$index}}" desc=""
                   image="{{image.file_attachment}}"></hcard>
          </hscroller>
        </ion-scroll>

      </div>

      <div class="padding">
        <h3>{{activity.title}}</h3>
        <p>{{activity.body}}</p>
      </div>

      <div class="item item-divider row-no-padding white">
        <div class="button-bar">

          <div class="col col-25">
            <span ng-if=activity.user.likes ng-click="unlikeActivity(activity.id);
              activity.user.likes = !activity.user.likes; activity.likes_count = activity.likes_count - 1;">
              <a class="button white blue">
                <i class="icon ion-thumbsup"></i>
              </a>
            </span>

            <div ng-if=!activity.user.likes ng-click="likeActivity(activity.id, $event);
              activity.user.likes = !activity.user.likes; activity.likes_count = activity.likes_count + 1;">
              <a class="button white">
                <i class="icon ion-thumbsup"></i>
              </a>
            </div>
          </div>

          <div class="col col-25">
            <span ng-if=activity.user.saves ng-click="unsaveActivity(activity.id);
              activity.user.saves = !activity.user.saves; activity.saves_count = activity.saves_count - 1;">
              <a class="button white blue">
                <i class="icon ion-bookmark"></i>
              </a>
            </span>

            <span ng-if=!activity.user.saves ng-click="saveActivity(activity.id);
             activity.user.saves = !activity.user.saves; activity.saves_count = activity.saves_count + 1;">
              <a class="button white">
                <i class="icon ion-bookmark"></i>
              </a>
            </span>
          </div>

          <div class="col col-25">
            <span ng-if=activity.user.following ng-click="unfollowUser(activity.user.id);
             activity.user.following = !activity.user.following; activity.user.followers_count = activity.user.followers_count - 1">
              <a class="button white blue">
                <i class="icon ion-person"></i>
              </a>
            </span>

            <span ng-if=!activity.user.following ng-click="followUser(activity.user.id);
             activity.user.following = !activity.user.following; activity.user.followers_count = activity.user.followers_count + 1">
              <a class="button white">
                <i class="icon ion-person"></i>
              </a>
            </span>
          </div>

          <div class="col col-25" ng-click="openCommentBox(activity.id)">
            <a class="button white">
              <i class="icon ion-chatboxes"></i>
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="item item-divider row-no-padding white comment-list comments" ng-repeat="comment in activity.comments">
      <div class="row">
        <div class="comment-user col-50">{{comment.user.name}}</div>
        <div class="comment-date col-50">{{comment.created_at}}</div>
      </div>
      <div class="comment-body item-text-wrap">{{comment.body}}</div>
    </div>

  </ion-content>
</ion-view>
