<ion-view class="activity-show">
  <ion-nav-title> {{ activity.title }}</ion-nav-title>

  <ion-content class="padding has-header">
    <div class="list card">
      <div class="item item-avatar gray">
        <img ng-src="{{activity.user.image ? activity.user.image : 'img/dummy_images/empty_image.svg'}}">
        <h2 class="activity_title">{{activity.user.name}}</h2>
        <p ng-repeat="interest in activity.user.interests">
          <i class="mybadge badge-royal">{{interest.name}}</i>
        </p>
        <p>{{activity.created_at}}</p>
      </div>
      <div class="item item-body gray">
        <span class="difficulty-icon">
          <span class="activity-category">{{activity.category}}</span>
          <i class="icon ion-ios-ionic-outline" ng-if="activity.difficulty === 1"></i>
          <i class="icon ion-ios-ionic" ng-if="activity.difficulty === 2"></i>
          <i class="icon ion-social-angular" ng-if="activity.difficulty === 3"></i>
        </span>
        <div class="item gray card item-inner">
          <ion-slide-box on-slide-changed="nextSlide($index)">
            <ion-slide ng-if="activity.images[0]" ng-repeat="image in activity.images">
              <img class="full-image" src="{{image.file_attachment}}">
            </ion-slide>
            <!-- Show a dummy image if there are no images for this activity -->
            <ion-slide ng-if="!activity.images[0]">
              <img class="full-image" src="img/dummy_images/snow.jpg">
            </ion-slide>
          </ion-slide-box>
          <div class="padding">
            <h3>{{activity.title}}</h3>
            <p>
              {{activity.body}}
            </p>
            <p>
              Routes {{activity.routes.length}}
            </p>
            <p>
              Waypoints {{activity.waypoints.length}}
            </p>
          </div>
        </div>
        <div class='row centered'>
          <div class="blue" ng-if=activity.user.likes
               ng-click="unlikeActivity(activity.id); activity.user.likes = !activity.user.likes; activity.likes_count = activity.likes_count - 1;">
            <div class='col'>
              <span class="count-icon">
                <i class="icon ion-thumbsup card-bottom"></i>
                <span class="count-span">{{activity.likes_count}}</span>
                <p>Unlike</p>
              </span>
            </div>
          </div>
          <div ng-if=!activity.user.likes
               ng-click="likeActivity(activity.id, $event); activity.user.likes = !activity.user.likes; activity.likes_count = activity.likes_count + 1;">
            <div class='col'>
              <span class="count-icon">
                <i class="icon ion-thumbsup card-bottom"></i>
                <span class="count-span">{{activity.likes_count}}</span>
                <p>Like</p>
              </span>
              <!--<img src="img/icons/like.svg"> This is the icon sent by Morgan -->
            </div>
          </div>
          <div class='col'>
            <i class="icon ion-bookmark card-bottom"></i>
            <p>
              Save
            </p>
          </div>
          <div class="col blue" ng-if=activity.user.following>
              <span class="count-icon">
              <i class="icon ion-person card-bottom"></i>
                <span class="count-span">{{activity.user.followers_count}}</span>
                <p>Following</p>
              </span>
          </div>
          <div class='col' ng-if=!activity.user.following ng-click="followUser(activity.user.id)">
            <span class="count-icon">
              <i class="icon ion-person card-bottom"></i>
              <span class="count-span">{{activity.user.followers_count}}</span>
              <p>Follow {{activity.user.name}}</p>
            </span>
          </div>
          <div class='col' ng-click="openCommentBox(activity.id)">
            <span class="count-icon">
              <i class="icon ion-chatboxes card-bottom"></i>
              <span class="count-span">{{activity.comments_count}}</span>
              <p>Make a Comment</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="comment-list" ng-repeat="comment in activity.comments">
      <div class="comment-user">{{comment.user.name}}:</div>
      <div class="comment-body">
        {{comment.body}}
      </div>
      <div class="comment-date">{{comment.created_at}}</div>
    </div>
  </ion-content>
</ion-view>
