$walkthrough-bg: #fff;
$walkthrough-textcolor: #fff;
$walkthrough-heading-color: #F5A623;
$walkthrough-subtitle-color: #C3C3C3;
$walkthrough-buttons-border-color: rgba(lighten(#C3C1C1, 5%), .7);

$walkthrough-slider-bg: #eef1f6;
$walkthrough-facebook-button-color: #FFF;


$walkthrough-slide-1-logo-ratio: 1 1;
$walkthrough-other-slides-images-ratio: 55 37;

// Merge maps
$pre-img-ratios: append($pre-img-ratios, $walkthrough-slide-1-logo-ratio);
$pre-img-ratios: append($pre-img-ratios, $walkthrough-other-slides-images-ratio);
