// Theme variables
$facebook: #3B5999;
$google: #DD4C39;
$login: #099E44;

$theme-color-1: #FFFFFF;
$theme-color-1-a: darken($theme-color-1, 3%);
$theme-color-1-b: darken($theme-color-1, 6%);
$theme-color-1-c: darken($theme-color-1, 12%);
$theme-color-1-d: darken($theme-color-1, 24%);
