.list.card {
  margin: 15px 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  background: #eee;
  .item {
    border: none;
  }
  .item-avatar {
      position: relative;
      z-index: 9999;
      min-height: 54px;
      margin-top: -60px;
      padding: 10px 10px 0 60px;
      background: linear-gradient(to right, rgba(51,102,51,0.7) 20%, rgba(255,102,0,0) 100%);
      //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8000000', endColorstr='#00e5e5e5',GradientType=1 );
      &:after {
        max-width: 44px;
        max-height: 44px;
        left: 7px;
        top: 7px;
        width: 100%;
        z-index: -1;
        height: 100%;
        border-radius: 50%;
        content: '';
        display: inline-block;
        // background-image: linear-gradient(120deg,  0%,  100%);
        background: $white;
        // box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        position: absolute;
      }
      .ng-binding {
        color: $white;
      }
      >img:first-child {
        left: 9px;
        top: 9px;
      }
      h2 {
        font-size: 15px;
        line-height: 100%;
        margin-bottom: -1px;
        margin-top: 5px;
        font-family: $font-sans-seriff;
      }
      p {
        font-size: 11px;
        line-height: 150%;
        text-transform: uppercase;
      }
      &.activity >img:first-child {
        left: 3px;
        top: 3px;
      }
    }

  // text content
  h3 {
    font-size: 18px;
    margin-bottom: 3px;
  }

  // interact
  .button-bar {
    background: #eee;;
    .col {
      padding: 0;
    }
    .button {
      background: none;
      opacity: 0.6;
      &.blue {
        color: $hunter-green;
      }
      &:first-child {
        border-radius: 0;
      }
    }
  }

  // padding
  .padding {
    padding: 18px 13px 0 13px;
  }

}
