.bar.bar-positive {
  background-color: $bggrey;
  .title,
  * {
    color: $black;
    &:hover {
      color: $black;
    }
  }
  .button.button-clear {
    color:$black;
    font-weight: 400;
    font-size: 14px;
  }
}