.bar.bar-positive {
  background-color: $google;
  .title,
  * {
    color: $black;
    &:hover {
      color: $black;
    }
  }
  .title {
    font-family: $font-script;
    font-size: 34px;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0 !important;
    margin: 0;
  }
  .button.button-clear {
    color: $black;
    font-weight: 400;
    font-size: 14px;
  }

  .ion-ios-settings-strong {
    color: $black;
    &:before {
      font-size: 26px;
    }
  }
  .ion-ios-plus {
    color: $black;
    
  }
}

h4.ng-binding {
  font-size: 40px;
  font-family: $font-script;
  line-height: 120%;
}