.bar.bar-positive {
  background-color: $black;
  .title,
  * {
    color: $theme-color-1;
    &:hover {
      color: $black;
    }
  }
  .button.button-clear {
    color: $theme-color-1;
    font-weight: 400;
    font-size: 14px;
  }

  .ion-ios-settings-strong {
    color: $inactive;
    &:before {
      font-size: 26px;
    }
  }
  .ion-ios-plus {
    color:$theme-color-1;
    
  }
}