.custom {
  margin-bottom: 10px !important;
  input {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white !important;
    padding: 0px 10px;
    color: $black !important;
    height: 45px;
  }
}