/* Empty. Add your own CSS if you like */
.eighty_percent {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

.textarea {
  height: 100px;
}

.item h2 {
  font-size: 120%;
  font-weight: bold;
}

.item h3 {
  font-size: 110%;
  font-weight: bold;
  color: #ffffff;
}

.gray {
  background-color: #cccccc;
}

.card-bottom {
  font-size: 170%;
}

.centered {
  text-align: center;
}

.item-inner {
  margin: 0px;
  padding: 0px;
  border: solid #000000;
  border-width: 1px 1px 1px 1px;
}

.padding {
  padding: 10px;
}

.row {
  margin-top: 10px;
}

.profile-item {
  text-align: center;
}

.profile-picture {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.profile-picture img {
  width: 50px;
  border-radius: 100%;
}

.profile-name {
  padding-top: 20px;
  font-size: x-large !important;
  font-weight: normal !important;
}

.filters {
  transition: all .05s ease-in-out;
}


/*modal animation*/
.zoom-from-center {
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
  opacity: 0;
}

.zoom-from-center.ng-enter, .zoom-from-center > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 600ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 600ms;
}

.zoom-from-center.ng-enter-active, .zoom-from-center > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
}

.zoom-from-center.ng-leave, .zoom-from-center > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}


/*end modal animation*/

.mybadge.badge-royal {
  background-color: #595959;
  color: #fff;
}

.mybadge {
  background-color: transparent;
  color: #AAAAAA;
  z-index: 1;
  display: inline-block;
  padding: 3px 8px;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -moz-box-flex: 0;
  -moz-flex: 0;
  -ms-flex: 0;
  flex: 0;
  display: block;
  min-width: 24px;
}
/*******************
MAP
 *******************/
#mapContainer {
  width: 100%;
  height: 100%;
}
